.menu {
    display: flex;
    flex: 1;

    &__items {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &__item a {
        display: flex;
        align-items: center;
    }
}