.form-auth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 2rem;
	input {
		width: 100%;
		padding: 10px;
		background: #f5f5f5;
		color: #333;
		border: none;
		outline: none;
		box-shadow: none;
		font-size: 14px;
		margin: 8px 0;
		letter-spacing: 1px;
		font-weight: 300;
	}
	&__header {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
	}

	&__title {
		height: 80px;
		margin-bottom: 80px;
		font-size: 40px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffd6d7;
	}
	&__icon {
		height: 80px;
		width: 80px;
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
		color: #555;
	}
	&__body {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		overflow-x: hidden;
		width: 100%;
		padding: 20px 0;
		gap: 1rem;
	}
	&__footer {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 20px;
		gap: 1rem;
		color: #555;
		font-weight: 300;
		strong {
			padding: .5rem;
			text-transform: uppercase;
			font-weight: 600;
			color: #42b72a;
			cursor: pointer;
		}
	}

	
}
.auth {
	position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
	overflow: hidden;
	background-color: $white;

	&.active {

		.signupBx {
			pointer-events: initial;
			.auth__formBx {
				top: 0%;
			}
			.auth__image {
				top: 0%;
			}
		}

		.signinBx {
			.auth__formBx {
				top: 100%;
			}
			.auth__image {
				top: -100%;
			}
		}
	}

	.signupBx {
		pointer-events: none;
		.auth__formBx {
			top: 100%;
		}
		.auth__image {
			top: -100%;
		}
	}
	.signinBx {
		.auth__formBx {
			top: 0%;
		}
		.auth__image {
			top: 0%;
		}
	}
	&__user {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
	}
	&__image {
		position: relative;
		width: 50%;
		height: 100%;
		border-radius: inherit;
		transition: 0.5s;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: inherit;
		}
		.auth__user.signupBx & {
			top: -100%;
		}
		.auth__container.active & {
			top: 0%;
		}
	}
	&__formBx {
		position: relative;
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		//padding: 40px;
		transition: 0.5s;
	}
}
@media (max-width: 991px){
    .auth {
        &__formBx{
            width: 100%;
        }
		&.active &__formBx {
            top: -100%; 
        }
        &__image {
		    display: none;
        }
    }

}