//==========[ variables ]==========
$primary:       #9356DC;
$secondary:     #FF79DA;
$tertiary :     #99E2D0;

// scss-docs-start color-variables
// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #f20044 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #20a467 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;


$body-bg:     #f0f2f5 !default;
$body-color:    #212529  !default;

$mobile-width: 425px;
