.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: $body-color;
    cursor: pointer;
    border: 1px solid transparent;
    height: 50px;
    &-primary {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
        &:hover {
            background-color: #0b5ed7;
            border-color: #0a58ca;
        }
    }
    &-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
    &-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    &-success {
        color: #fff;
        background-color: #42b72a;
        border-color: #42b72a;
        &:hover {
            background-color: $green;
            border-color: $green;
        }
    }
    &-warning {
        color: #000;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    &.disabled {
        pointer-events: none;
        opacity: .65;
    }
    &-outline-secondary {
        color: $gray-600;
        background-color: inherit;
        border-color: $gray-600;
        &:hover {
            color: $white;
            background-color: $gray-600;
        }
    }
}
