.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $card-bg;
    border: 1px solid rgba(128, 128, 128, 0.205);
    border-radius: $card-border-radius;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-top: 10px;
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
    }
    
    .link {
        background-color: orange;
        margin-top: 16px;
        color: rgb(255, 255, 255);
    }
}   

.card-option {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 10px;
    gap: 5px;
    opacity: 0;
    z-index: -1;
    width: 200px;
    padding: 5px 0; 
    transition: inherit;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 10%),
                8px 8px 16px rgb(0 0 0 / 10%),
                -2px -2px 4px rgb(0 0 0 / 10%),
                -8px 8px 16px rgb(0 0 0 / 10%);
    padding-top: 10px;
    
    li {
        display: flex;
        align-items: center;
        list-style: none;
        cursor: pointer;
        gap: 10px;
        width: 100%;
        height: 30px;
        padding: 0 10px;
        &:hover {
            background-color: $body-bg;
        }
    }
    img {
        height: auto;
        width: 17px;
    }
}
.card-user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img {
        &-background {
            object-fit: cover;
            height: 300px;
            width: 100%;
            border-radius: inherit;
        }
        &-avatar {
            position: absolute;
            z-index: 1;
            top: -50px;
            height: 100px;
            width: 100px;
        }
    }
    .btn {
        margin: 10px 0;
    }
    .card {
        &-content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
        }
    }
}
