.comments {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $gray-400;
    padding: 10px;
    
    .img-avatar {
        width: 50px;
        height: 50px;
    }
    
}
.comment{

    &-card {
        display: flex;
        gap: 10px;
        textarea {
            height: auto;
            width: 100%;
            resize: none;
            overflow: hidden;
            padding: 10px;
            color: $body-color;
            background-color: $body-bg;
            border-radius: 10px;
            outline: none;
            border: none;
        }
    }
    &-container {
        padding: 5px 10px;
        background-color: $body-bg;
        border-radius: 1rem;
    }
    &-form {
        display: flex;
        flex-direction: row;
        padding: 30px 0px;
        gap: 10px;
        textarea {
            height: 40px;
            width: 100%;
            resize: none;
            overflow: hidden;
            padding: 10px;
            color: $body-color;
            background-color: $body-bg;
            border-radius: 10px;
            outline: none;
            border: none;

        }
        button {
            padding: auto;
            height: 40px;
        }
    }
    &-user {
        cursor: pointer;
        span {
            font-weight: bold;
        }
    }


    &-change-action {
        width: 100px; 
        .btn {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    &-action {
        position: relative;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 0;
        gap: 0;
        transition: all 0.3s;
        label {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.6rem;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: transparent;
            border: 0;
            color: black;
            cursor: pointer;
            transition: inherit;
            &:hover {
                background-color: $body-bg;
            }
        }
    }
    &__action__list {
        width: 110px;
        padding: 10px;
        border-radius: 10px;
        background-color: $white;
        z-index: -1000;
        opacity: 1;
        transform: scale(0);
        transition: transform .2s;
        transition-timing-function: cubic-bezier(1,-0.03,1,.01);
    }
    &-action input[type=checkbox] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        &:focus ~ {
            label {
                background-color: $body-bg;
            }
            ul {
                opacity: 1;
                z-index: 2000;
                transform: scale(1);
                transition: transform 0s;
            }
        }
    }
}