form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    h1 {
        margin-bottom: 10px;
    }
    label {
        min-height: 20px;
    }
    button {
        margin-top: 20px;
        width: 100%;
    }

}

.form-post {
    .form-group.row {
        flex-direction: row;
        justify-content: space-between;
    }
    input[type=file] {
        display: none;
    }
    label[for=image] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        width: 80px;
        background-color: green;
        svg path {
            fill: red;
        }
    }
    button {
        padding: 5px;
        margin: 0;
        width: auto;
    }
}
