form input[type=file] {
    display: none;
}
.form {
    &__group {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px; 
    }
    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        padding: 20px 0;
        gap: 1rem;
    }
    &__footer {
        position: relative;
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        margin-top: 20px;
        padding: 20px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 100%;
            transform: scale(.85);
            border-radius: 50%;
            background-color: $gray-400;
        }
    }
}

