.post{


    &-flatList {
        display: flex;
        flex-direction: column-reverse;
    }
    &-card {
        li {
            display: flex;
            align-items: center;
            list-style: none;
            cursor: pointer;
        }
        &-void {
            justify-content: center;
            align-items: center;
            height: 80px;
        }
    }
    &-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 60px;
    }
    &-image {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &-action {
            position: absolute;
            width: 100%;
            height: auto;
            top: 0;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            opacity: 0;
            transition: opacity .5s;
        }
        .btn {
            &:first-child {
                background-color: $gray-200;
                border-radius: 10px;
            }
            &.btn-danger {
                right: 10px;
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        &:hover &-action {
            opacity: 1;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            &:hover ~ span {
                opacity: 1;
            }
        }
        span {
            position: absolute;
            z-index: 1000;
            top: 20px;
            right: 20px;
            font-size: 1.2rem;
            padding: 5px;
            border-radius: 5px;
            color: black;
            background-color: white;
            opacity: 0;
            transition: opacity .5s;
            opacity: 0;          
        }
    }
    &-info {
        position: relative;
        display: flex;
        gap: 10px;
        height: 100%;
        p {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    &-action {
        position: relative;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 0;
        gap: 0;
        transition: all 0.3s;
        label {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.6rem;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: transparent;
            border: 0;
            color: black;
            cursor: pointer;
            transition: inherit;
            &:hover {
                background-color: $body-bg;
            }
        }

        

        .post__action__list {
            //position: absolute;
            width: 110px;
            padding: 10px;
            border-radius: 10px;
            background-color: $white;
            z-index: -1000;
            opacity: 1;
            transform: scale(0);
            transition: transform .2s;
            transition-timing-function: cubic-bezier(1,-0.03,1,.01);
        }
        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            &:focus ~ {
                label {
                    background-color: $body-bg;
                }
                ul {
                    opacity: 1;
                    z-index: 2000;
                    transform: scale(1);
                    transition: transform 0s;
                }
            }
        }
    }
    &-body {
        position: relative;
        width: 100%;
        p {
            font-size: 1rem;
            width: 100%;
            padding: 10px;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &-footer {
        .info {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 40px;
            &:nth-child(2) {
                border-top: 1px solid $gray-400;
                li {
                    justify-content: center;
                }
            }
            li {
                gap: 5px;
                padding: 10px;
                width: 30%;
                height: 40px;
                .icon {
                    width: 24px;
                    height: 24px;
                    fill: transparent;
                    stroke: $gray-600;
                    transition: all .5s;
                    &.active {
                        fill: $blue;
                        stroke: transparent;
                    }
                }
                .liked {
                    width: 28px;
                    height: 28px;
                    fill: $gray-200;
                    padding: 4px;
                    background-color: $blue;
                    border-radius: 50%;
                }
            }
        }
    }
    

}
@media only screen and (min-width: 680px) {
    /*
    .post-card, .form-overview {
        width: 680px;
    }*/
}