/*############################## ABSTRACT ############################################*/
:root {
  --color: #d4dcff;
  --background-color: #171933;
  --background: #171933;
  --card-bg: #21244d;
  --post-background-color: #22244d;
  --post-gap: 3vw;
  --background-light: #1c1e3d;
  --border: #2a2e5e;
}

/*############################## BASE ################################################*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  color: #212529;
  background-color: #f0f2f5;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/*############################## COMPONENTS ###########################################*/
.alert {
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 5;
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  transform: translateY(20px);
}
@media only screen and (min-width: 680px) {
  .alert {
    width: 680px;
    margin-left: calc((100% - 680px) / 2);
  }
}
.alert.active {
  animation: 3s ease-in 0s alert;
}
.alert svg {
  width: 28px;
  height: 28px;
  fill: #20a467;
}
.alert-success {
  color: #20a467;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

@keyframes alert {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(160px);
  }
  85% {
    transform: translateY(160px);
  }
  100% {
    transform: translateY(0px);
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #212529;
  cursor: pointer;
  border: 1px solid transparent;
  height: 50px;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-success {
  color: #fff;
  background-color: #42b72a;
  border-color: #42b72a;
}
.btn-success:hover {
  background-color: #20a467;
  border-color: #20a467;
}
.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn.disabled {
  pointer-events: none;
  opacity: 0.65;
}
.btn-outline-secondary {
  color: #6c757d;
  background-color: inherit;
  border-color: #6c757d;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.205);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.card__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
.card .link {
  background-color: orange;
  margin-top: 16px;
  color: rgb(255, 255, 255);
}

.card-option {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  gap: 5px;
  opacity: 0;
  z-index: -1;
  width: 200px;
  padding: 5px 0;
  transition: inherit;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 8px 8px 16px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1), -8px 8px 16px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}
.card-option li {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  gap: 10px;
  width: 100%;
  height: 30px;
  padding: 0 10px;
}
.card-option li:hover {
  background-color: #f0f2f5;
}
.card-option img {
  height: auto;
  width: 17px;
}

.card-user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-user .img-background {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: inherit;
}
.card-user .img-avatar {
  position: absolute;
  z-index: 1;
  top: -50px;
  height: 100px;
  width: 100px;
}
.card-user .btn {
  margin: 10px 0;
}
.card-user .card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.comments {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ced4da;
  padding: 10px;
}
.comments .img-avatar {
  width: 50px;
  height: 50px;
}

.comment-card {
  display: flex;
  gap: 10px;
}
.comment-card textarea {
  height: auto;
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 10px;
  color: #212529;
  background-color: #f0f2f5;
  border-radius: 10px;
  outline: none;
  border: none;
}
.comment-container {
  padding: 5px 10px;
  background-color: #f0f2f5;
  border-radius: 1rem;
}
.comment-form {
  display: flex;
  flex-direction: row;
  padding: 30px 0px;
  gap: 10px;
}
.comment-form textarea {
  height: 40px;
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 10px;
  color: #212529;
  background-color: #f0f2f5;
  border-radius: 10px;
  outline: none;
  border: none;
}
.comment-form button {
  padding: auto;
  height: 40px;
}
.comment-user {
  cursor: pointer;
}
.comment-user span {
  font-weight: bold;
}
.comment-change-action {
  width: 100px;
}
.comment-change-action .btn {
  width: 100%;
  margin-bottom: 10px;
}

.flatList {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

form input[type=file] {
  display: none;
}

.form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.form__body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 20px 0;
  gap: 1rem;
}
.form__footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 20px;
  padding: 20px;
}
.form__footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transform: scale(0.85);
  border-radius: 50%;
  background-color: #ced4da;
}

.img-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-flatList {
  display: flex;
  flex-direction: column-reverse;
}
.post-card li {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.post-card-void {
  justify-content: center;
  align-items: center;
  height: 80px;
}
.post-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
}
.post-image {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post-image-action {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.post-image .btn:first-child {
  background-color: #e9ecef;
  border-radius: 10px;
}
.post-image .btn.btn-danger {
  right: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.post-image:hover .post-image-action {
  opacity: 1;
}
.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.post-image img:hover ~ span {
  opacity: 1;
}
.post-image span {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
  opacity: 0;
}
.post-info {
  position: relative;
  display: flex;
  gap: 10px;
  height: 100%;
}
.post-info p {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post-action {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  gap: 0;
  transition: all 0.3s;
}
.post-action label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  transition: inherit;
}
.post-action label:hover {
  background-color: #f0f2f5;
}
.post-action .post__action__list {
  width: 110px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  z-index: -1000;
  opacity: 1;
  transform: scale(0);
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(1, -0.03, 1, 0.01);
}
.post-action input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.post-action input[type=checkbox]:focus ~ label {
  background-color: #f0f2f5;
}
.post-action input[type=checkbox]:focus ~ ul {
  opacity: 1;
  z-index: 2000;
  transform: scale(1);
  transition: transform 0s;
}
.post-body {
  position: relative;
  width: 100%;
}
.post-body p {
  font-size: 1rem;
  width: 100%;
  padding: 10px;
}
.post-body img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.post-footer .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
.post-footer .info:nth-child(2) {
  border-top: 1px solid #ced4da;
}
.post-footer .info:nth-child(2) li {
  justify-content: center;
}
.post-footer .info li {
  gap: 5px;
  padding: 10px;
  width: 30%;
  height: 40px;
}
.post-footer .info li .icon {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: #6c757d;
  transition: all 0.5s;
}
.post-footer .info li .icon.active {
  fill: #0d6efd;
  stroke: transparent;
}
.post-footer .info li .liked {
  width: 28px;
  height: 28px;
  fill: #e9ecef;
  padding: 4px;
  background-color: #0d6efd;
  border-radius: 50%;
}

@media only screen and (min-width: 680px) {
  /*
  .post-card, .form-overview {
      width: 680px;
  }*/
}
/*
display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
*/
.post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  /* &__file {
       position: relative;
       display: flex;
       justify-content: center;
       flex-direction: column;
       &:hover &__action {
           opacity: 1;
       }
   }*/
}
.post-form label {
  cursor: pointer;
}
.post-form__user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.post-form__user p {
  display: flex;
  flex-direction: column;
}
.post-form__content {
  width: 100%;
  height: 35px;
  resize: none;
  overflow: hidden;
  padding: 20px;
  color: #212529;
  border-radius: 10px;
  outline: none;
  border: none;
}
.post-form__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-form__delete-image {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.post-form__action {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.post-form__action label, .post-form__action button {
  color: green;
}
.post-form__action label {
  background-color: #e9ecef;
  border-radius: 10px;
}
.post-form__action button {
  right: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.post-form__add-file {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #e9ecef;
  padding: 0 1rem;
  border-radius: 0.3rem;
}
.post-form__add-file img {
  height: 38px;
  width: 38px;
}

/*############################## CONTAINERS ###########################################*/
.modal {
  visibility: hidden;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.modal.active {
  visibility: visible;
}
.modal.active .modal__close {
  opacity: 0.15;
}
.modal.active .modal__content {
  transform: translateY(0%);
}
.modal__close {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  cursor: pointer;
  transition: background-color 3s;
}
.modal__content {
  position: absolute;
  z-index: 1000;
  padding: 15px;
  transform: translateY(100vh);
  transition: all 1s;
  max-height: 90%;
}

/*############################## LAYOUTS ###########################################*/
.header {
  position: fixed;
  z-index: 2;
  width: 100vw;
}
.header__group {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 56px;
  width: 100%;
  padding: 0 20px;
}
.header__nav {
  display: flex;
  flex-direction: column;
}
.header__icon {
  height: 45px;
}

div.header__group {
  background-color: #000;
  justify-content: space-between;
  padding: 0 5vw;
}
div.header__group h1 {
  color: #fff;
}

ul.header__group {
  color: #6c757d;
  background-color: #fff;
  justify-content: center;
  gap: 30px;
}
ul.header__group li {
  position: relative;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
ul.header__group li::after {
  position: absolute;
  bottom: 0;
  content: "";
  height: 5px;
  border-radius: 5px;
  width: 0;
  background-color: #0d6efd;
  opacity: 0;
  transition: all 0.7s;
}
ul.header__group li.active {
  font-weight: bold;
  color: #0d6efd;
}
ul.header__group li.active::after {
  width: 100%;
  opacity: 1;
}
ul.header__group li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #fff;
  background-color: #000;
  height: 100px;
}

/*############################## PAGES ###########################################*/
.form-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.form-auth input {
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}
.form-auth__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.form-auth__title {
  height: 80px;
  margin-bottom: 80px;
  font-size: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd6d7;
}
.form-auth__icon {
  height: 80px;
  width: 80px;
}
.form-auth__subtitle {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}
.form-auth__body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 20px 0;
  gap: 1rem;
}
.form-auth__footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  gap: 1rem;
  color: #555;
  font-weight: 300;
}
.form-auth__footer strong {
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #42b72a;
  cursor: pointer;
}

.auth {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}
.auth.active .signupBx {
  pointer-events: initial;
}
.auth.active .signupBx .auth__formBx {
  top: 0%;
}
.auth.active .signupBx .auth__image {
  top: 0%;
}
.auth.active .signinBx .auth__formBx {
  top: 100%;
}
.auth.active .signinBx .auth__image {
  top: -100%;
}
.auth .signupBx {
  pointer-events: none;
}
.auth .signupBx .auth__formBx {
  top: 100%;
}
.auth .signupBx .auth__image {
  top: -100%;
}
.auth .signinBx .auth__formBx {
  top: 0%;
}
.auth .signinBx .auth__image {
  top: 0%;
}
.auth__user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.auth__image {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: inherit;
  transition: 0.5s;
}
.auth__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.auth__user.signupBx .auth__image {
  top: -100%;
}
.auth__container.active .auth__image {
  top: 0%;
}
.auth__formBx {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .auth__formBx {
    width: 100%;
  }
  .auth.active .auth__formBx {
    top: -100%;
  }
  .auth__image {
    display: none;
  }
}
main {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 112px);
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
main .container {
  width: 100%;
  height: 100%;
}

.image__loader {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  animation: image__loader 3s linear 0s infinite;
}

@keyframes image__loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}
.profil-form {
  width: 100%;
  height: 100%;
}
.profil-form__img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  height: 120px;
}
.profil-form__avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profil-setting {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50vw;
  height: 50vw;
  padding: 5vw;
  border-radius: 30px;
}
.profil-setting__header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  height: 80px;
}
.profil-setting__body {
  height: 100%;
}
.profil-setting li {
  list-style: none;
}
.profil-setting li.active {
  color: red;
}

/*############################## utils ###########################################*/
@media only screen and (min-width: 680px) {
  main .container {
    padding: 0 calc((100vw - 680px) / 2);
  }
}
@media only screen and (min-width: 1440px) {
  main .container {
    padding: 0 calc((100vw - 1024px) / 2);
  }
}

/*# sourceMappingURL=style.css.map */
